<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>Some images in this demo were taken from <a href="http://lorempixel.com/" target="_blank">lorempixel.com</a>,
          please refer to
          their license for usage.</p>
        <p>Content and tiles were obtained from the internet and they are just used for demo purposes; nothing about
          this information should be taken as a fact.</p>
      </div>
    </div>
  </div>
</footer>
